<div id="<%= dom_id post %>">
    <h2>Title: <%= post.title %></h2>
    <h6>posted by: <%= post.user.email %></h6>

    <h6> <%= pluralize(post.views, "view") %></h6>
    <p>
      <strong>Body:</strong>
      <%= post.body %>
    </p>

</div>
